---
layout: default
---

{{ content }}
<ul>
    {% for post in site.posts %}
		<li>
			<div class="blogPost" onclick="location.href='{{ post.url }}';" style="cursor:pointer;">
				<h2>{{ post.title }}</h2>
				<p>{% assign d = post.date | date: "%-d"  %}
				{% case d %}
					{% when '1' or '21' or '31' %}{{ d }}st
					{% when '2' or '22' %}{{ d }}nd
					{% when '3' or '23' %}{{ d }}rd
					{% else %}{{ d }}th{% endcase %}
				{{ post.date | date: "%B" }}
				{{ post.date | date: "%Y" }}				
				</p>
			</div>
		</li>
	{% endfor %}
</ul>