<html>
	<head>
		<title>{{ page.title }} | {{ site.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/favicon.ico" type="image/ico">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"> 
		<link rel="stylesheet" href="/assets/style.css">
	</head>
	<nav>
		<h1>{{ site.title }} - {{ page.title }}</h1>
		<ul>
			<li><a href="/index.html">Home</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="/projects.html">Projects</a></li>
			<li><a href="/contact.html">Contact</a></li>
		</ul> 
	</nav>
	<body>
		<div class="content">
			{{ content }}
		</div>
	</body>
</html>